@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* heading and logo */

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

#logo {
  float: left;
  font-size: 280%;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  display: flex;
  float: right;
}

#menu li {
  text-align: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu,
#logo {
  line-height: 75px;
}

#menu a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

#hero-image {
  height: 600px;
  width: 100%;
  background-image: url("../images/hero-image.webp");
  background-repeat: no-repeat;
  background-position: center center;

  /* animates zoom effect on loading of page */
  animation: hero-zoom 5s forwards;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#cover-text, #cover-text h2 {
  color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding: 40px 10px 0 0;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}